<!-- Services Section Begin -->
<section id="abt" class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="services__title">
                    <div class="section-title">
                        <span>À propos</span>
                        <h2>Qui suis-je ?</h2>
                    </div>
                    <p>If you hire a videographer of our team you will get a video professional to make a custom
                        video for your business and, once the project is over.</p>
                    <p>Ci-après, je vous présente quatre domaines pour lesquels j'ai manifesté de l'intérêt et pour
                        lesquels je possède une certaine maîtrise technologique.</p>
                    <a href="#" class="primary-btn">Voir plus</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/assets/img/icons/si-1.png" alt="" width="36px">
                            </div>
                            <h4>Back end</h4>
                            <p>Whether you’re halfway through the editing process, or you haven’t even started, our
                                post production services can put the finishing touches.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/assets/img/icons/si-2.png" alt="" width="36px">
                            </div>
                            <h4>Front end</h4>
                            <p>Whether you’re halfway through the editing process, or you haven’t even started, our
                                post production services can put the finishing touches.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/assets/img/icons/si-3.png" alt="" width="36px">
                            </div>
                            <h4>Base de donnée</h4>
                            <p>Whether you’re halfway through the editing process, or you haven’t even started, our
                                post production services can put the finishing touches.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/assets/img/icons/si-4.png" alt="" width="36px">
                            </div>
                            <h4>API</h4>
                            <p>Whether you’re halfway through the editing process, or you haven’t even started, our
                                post production services can put the finishing touches.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->