<!-- Services Section Begin -->
<section id="abt" class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="services__title">
                    <div class="section-title">
                        <span>À propos</span>
                        <h2>Qui suis-je ?</h2>
                    </div>
                    <p>Je suis Lucas RATIARAY, un passionné de développement informatique. Actuellement
                    en deuxième année de BTS SIO option SLAM, je poursuis mon objectif de devenir un expert en
                    informatique en renforçant mes compétences en programmation, gestion de projet et sécurité
                    des systèmes d'information.</p>
                    <p>Ci-après, je vous présente quatre domaines pour lesquels j'ai manifesté de l'intérêt et pour
                        lesquels je possède une certaine maîtrise technologique.</p>
                    <a href="#" class="primary-btn">Voir plus</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/assets/img/icons/si-2.png" alt="" width="36px">
                            </div>
                            <h4>Front end</h4>
                            <p>Le front-end crée la partie visible et interactive d'un site web, en utilisant HTML,
                            CSS et JavaScript pour offrir une expérience utilisateur agréable. Un bon front-end 
                            améliore l'accessibilité, l'ergonomie et la performance.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/assets/img/icons/si-1.png" alt="" width="36px">
                            </div>
                            <h4>Back end</h4>
                            <p>Le développement web en back-end gère la partie invisible du site web, telle que la
                            logique du serveur et la gestion de la base de données avec des langages de programmation
                            tels que Python, Ruby, PHP ou Java afin de garantir la rapidité, la fiabilité et la 
                            sécurité du site web.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/assets/img/icons/si-4.png" alt="" width="36px">
                            </div>
                            <h4>API</h4>
                            <p>API ou "Application Programming Interfaces" sont des outils de développement web
                            permettant à différentes applications de communiquer entre elles et de partager des
                            données. Ils sont indispensables au développement web moderne. Les développeurs peuvent
                            les utiliser pour automatiser des tâches, intégrer des fonctionnalités et améliorer
                            l'expérience utilisateur, essentiels pour créer des applications interactives.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/assets/img/icons/si-3.png" alt="" width="36px">
                            </div>
                            <h4>Database</h4>
                            <p>Les bases de données sont essentielles pour stocker et organiser les informations
                            nécessaires au bon fonctionnement d'un site web. Les développeurs interagissent avec
                            elles en utilisant des "Systèmes de Gestion de Bases de Données" pour garantir leur
                            sécurité et améliorer les performances du site.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->