<!-- Call To Action Section Begin -->
<section id="contact" class="callto spad set-bg" data-setbg="/assets/img/callto-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="callto__text">
                    <h2>Tout part d'une idée. Donner des ailes à vos imaginations.</h2>
                    <p>Lucas RATIARAY, Inc.</p>
                    <a href="#">Contactez-moi</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Section End -->