<!-- Counter Section Begin -->
<section class="counter">
    <div class="container">
        <div class="counter__content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__text">
                            <img src="/assets/img/icons/ci-1.png" alt="">
                            <h2 class="counter_num">230</h2>
                            <p>Certifications</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item second__item">
                        <div class="counter__item__text">
                            <img src="/assets/img/icons/ci-2.png" alt="">
                            <h2 class="counter_num">1068</h2>
                            <p>Projets Professionnels</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item third__item">
                        <div class="counter__item__text">
                            <img src="/assets/img/icons/ci-3.png" alt="">
                            <h2 class="counter_num">230</h2>
                            <p>Projets Personnels</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item four__item">
                        <div class="counter__item__text">
                            <img src="/assets/img/icons/ci-4.png" alt="">
                            <h2 class="counter_num">230</h2>
                            <p>Projets Open-source</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->