<!-- Team Section Begin -->
<section id="" class="team spad set-bg" data-setbg="/assets/img/team-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title team__title">
                    <span>Voici mon</span>
                    <h2>PARCOURS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item set-bg" data-setbg="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/04/10/11/marc-marquez-valentino-rossi.jpg?quality=75&width=990&crop=2048%3A1536%2Csmart&auto=webp">
                    <div class="team__item__text">
                        <h4>TITRE DU DIPLÔME</h4>
                        <p>Etablissement (année)</p>
                        <div class="team__item__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item team__item--second set-bg" data-setbg="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/04/10/11/marc-marquez-valentino-rossi.jpg?quality=75&width=990&crop=2048%3A1536%2Csmart&auto=webp">
                    <div class="team__item__text">
                        <h4>TITRE DU DIPLÔME</h4>
                        <p>Etablissement (année)</p>
                        <div class="team__item__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item team__item--third set-bg" data-setbg="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/04/10/11/marc-marquez-valentino-rossi.jpg?quality=75&width=990&crop=2048%3A1536%2Csmart&auto=webp">
                    <div class="team__item__text">
                        <h4>TITRE DU DIPLÔME</h4>
                        <p>Etablissement (année)</p>
                        <div class="team__item__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item team__item--four set-bg" data-setbg="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/04/10/11/marc-marquez-valentino-rossi.jpg?quality=75&width=990&crop=2048%3A1536%2Csmart&auto=webp">
                    <div class="team__item__text">
                        <h4>TITRE DU DIPLÔME</h4>
                        <p>Etablissement (année)</p>
                        <div class="team__item__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 p-0">
                <div class="team__btn">
                    <a href="#" class="primary-btn">Retrouver mon cv ici</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->