<!-- Hero Section Begin -->
<section id="wlc" class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__item set-bg" data-setbg="/assets/img/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <span><mark>Bonjour et bienvenue</mark></span>
                            <h2>Voici une présentation du BTS SIO</h2>
                            <a href="#" class="primary-btn">Voir la présentation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__item set-bg" data-setbg="/assets/img/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <span><mark>Bonjour et bienvenue</mark></span>
                            <h2>Voici une présentation du BTS SIO</h2>
                            <a href="#" class="primary-btn">Voir la présentation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__item set-bg" data-setbg="assets/img/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <span><mark>Bonjour et bienvenue</mark></span>
                            <h2>Voici une présentation du BTS SIO</h2>
                            <a href="#" class="primary-btn">Voir la présentation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->