<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="footer__top__logo">
                        <a href="#"><img src="" alt="" width="40px"></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer__top__social">
                        <a href="https://github.com/LucasRatiaray" target="_blank()"><i class="fa fa-github"></i></a>
                        <a href="https://gitlab.com/LucasRatiaray" target="_blank()""><i class="fa fa-gitlab"></i></a>
                        <a href="https://www.linkedin.com/in/lucas-ratiaray/" target="_blank()""><i class="fa fa-linkedin"></i></a>
                        <a href="#contact"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__option">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__option__item">
                        <h5>À propos</h5>
                        <p>Formed in 2006 by Matt Hobbs and Cael Jones, Videoprah is an award-winning, full-service
                            production company specializing.</p>
                        <a href="#" class="read__more">Voir plus<span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <div class="footer__option__item">
                        <h5>Menu</h5>
                        <ul>
                            <li><a href="#abt">À propos</a></li>
                            <li><a href="#ptf">Portfolio</a></li>
                            <li><a href="#cv">Curriculum vitae</a></li>
                            <li><a href="#">BTS SIO</a>
                            <li><a href="#">Me contacter</a>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <div class="footer__option__item">
                        <h5>Mentions légales</h5>
                        <ul>
                            <li><a href="#">RGPD</a></li>
                            <li><a href="#">Designed by Colorlib</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__option__item">
                        <h5>Newsletter</h5>
                        <p>Restez informé(e) de mes dernières réalisations et projets en vous inscrivant à ma newsletter personnelle.</p>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit"><i class="fa fa-send"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p class="footer__copyright__text">Lucas Ratiaray &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        Tous droits réservés | <a href="https://colorlib.com" target="_blank">Colorlib</a> <i class="fa fa-heart-o"
                        aria-hidden="true"></i>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->