<!-- Header Section Begin -->
<header class="header position-fixed" style="background-color: red;">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo d-flex justify-content-center">
                    <a href="./index.html"><img src="/assets/img/logo/logo.png" width="50px" alt=""></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="header__nav__option">
                    <nav class="header__nav__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="./index.html">Accueil</a></li>
                            <li><a href="./about.html">À propos</a></li>
                            <li><a href="./portfolio.html">Portfolio</a></li>
                            <li><a href="./services.html">Curriculum vitae</a></li>
                            <li><a href="#">BTS SIO</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">E4</a></li>
                                    <li><a href="./portfolio.html">E5</a></li>
                                    <li><a href="./blog.html">Veille</a></li>
                                    <!-- <li><a href="./blog-details.html">Blog Details</a></li> -->
                                </ul>
                            </li>
                            <!-- <li><a href="./contact.html">Contact</a></li> -->
                        </ul>
                    </nav>
                    <div class="header__nav__social">
                        <!-- <a href="#"><i class="fa fa-facebook"></i></a> -->
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                        <a href="#"><i class="fa fa-gitlab"></i></a>
                        <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->