<!-- Header Section Begin -->
<header class="header position-fixed">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo d-flex justify-content-center">
                    <a href="#wlc" class="myLogo"><img class="imgLogo" src="/assets/img/logo/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="header__nav__option">
                    <nav class="header__nav__menu mobile-menu">
                        <ul>
                            <li class="navbar_item wlc active"><a href="#wlc">Accueil</a></li>
                            <li class="navbar_item abt"><a href="#abt">À propos</a></li>
                            <li class="navbar_item ptf"><a href="#ptf">Portfolio</a></li>
                            <li class="navbar_item cv"><a href="#cv">Curriculum vitae</a></li>
                            <li class="navbar_item"><a href="#">BTS SIO</a>
                                <ul class="dropdown">
                                    <li><a href="">E4</a></li>
                                    <li><a href="">E5</a></li>
                                    <li><a href="">Veille</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="header__nav__social">
                        <a href="https://github.com/LucasRatiaray" target="_blank()"><i class="fa fa-github"></i></a>
                        <a href="https://gitlab.com/LucasRatiaray" target="_blank()""><i class="fa fa-gitlab"></i></a>
                        <a href="https://www.linkedin.com/in/lucas-ratiaray/" target="_blank()""><i class="fa fa-linkedin"></i></a>
                        <a href="#contact"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->